.main-content {
  margin-top: 70px;
  padding: 2rem;
}

@media (max-width: 573px) {
  .main-content {
    margin-top: 140px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .main-content .HomePage {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}